.restaurant-hall-img {
  width: 900px;
  height: 500px;
}
.ourstory_container {
  
  background-color: brown;
  background-image: url("../img/restaurant-hall.jpg");
  background-size: contain;
 height: 500px;
 width: 1000px;
  background-repeat: no-repeat; 
}
.sidebar{
  background-color: tomato;
  width: 200px;
  height: 100vh;
}