header {
    color: rgb(7, 7, 7);
    padding: 20px;
    text-align: center;
  }

  #searchBar{
    padding: 8px;
    border-radius: 10px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  nav ul li a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    transition: color 0.3s;
  }
  nav ul li a:hover {
    color: #ffcc00;
  } 

  .menu{
    
  }