header {
    color: rgb(7, 7, 7);
    padding: 20px;
    text-align: center;
  }

  #searchBar{
    padding: 8px;
    border-radius: 10px;
  }

   nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  nav ul li a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    transition: color 0.3s;
  }
  nav ul li a:hover {
    color: #ffcc00;
  }  
  

  .menu{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .menu-item {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3 s;
  }

  /* Sidebar styling */
  .sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #625f5f;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar .close-btn {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 25px;
    border: none;
    background: none;
    cursor: pointer;
}
.main-content {
  padding: 20px;
  margin-left: 20px;
}
.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #625f5f;
  color: white;
  padding: 10px 20px;
  border: none;
  position: fixed;
  top: 170px;
  left: 20px;
  border-radius: 10px;
}
