/* Navbar styling */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 35px;
}

nav ul li a {
  color: rgb(5, 5, 5);
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #040404;
  font-weight: bold;
}

/* searchbar styling */
#searchBar{
   padding: 8px;
   width: 220px;
   border-radius: 15px;
}

/* Menu styling */
.menu {
  max-width: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.menu-item {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
}

/* Image styling */
.menu-image {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
}

h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: #333;
}

p {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.menu-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.rating {
  color: #4caf50;
  font-weight: bold;
}

.price{
  font-weight: bold;
}

/* Carousel styling */
.carousel-container {
  position: relative;
  width: 80%;
  margin: 20px auto;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
