.btn1 {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 17px;
    padding: 15px;
    background-color: #5F6F65;
    color: white;
    cursor: pointer;
    font-size: 13px;
    width: 100px;
}

.center {
    position: absolute;
    top: 230px;
    right: 600px;
}

.product-title {
    text-align: center;
}

.quantity-icon {
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.card {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    flex-wrap: wrap;
}

.card-img {
    border: 0.1px solid rgb(184, 176, 176);
    width: 250px;
    height: 370px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: white;
    ;
}

.img {
    width: 250px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-img:hover {
    box-shadow: 0px 0px 10px 2px gray;
}
.btn {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 6px;
    padding: 8px;
    background-color: #5F6F65;
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.btn:hover {
    background-color: #808D7C;
    color: white;
}

.overlay
{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    justify-content: center;
    align-items: center;
}
.close-icon
{
    position: absolute;
    top:130px;
    right:630px;
    height:30px;
    cursor: pointer;
}
.form
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   margin-top:20px;
}
.form-input
{
    width:200px;
    margin:10px 0;
    font-size:15px;
    padding:5px 10px;
}
.model
{
    background-color:white;
    padding:20px 30px;
    border-radius:10px;
}
.user{
    position: absolute;
    top:30px;
    right:150px;
    height:60px;
}


body {
    margin: 0;
    padding: 0;
}

.sidebar {
    border-right: 1px solid #ccc;
    background-color:rgb(242, 237, 237);
    height: 100vh;
    width: 250px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    position: absolute;
    top:10px;
}

.menu-item {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: end;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.menu-item:hover {
    background-color: white;
    border: 1px solid black;
}
.menu-item1{
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: end;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}
.menu{
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 0 25px 25px 0;
    position: absolute;
    top:2px;
    left:15px;
}

.menu-icon {
    font-size: 20px;
}

.menu-text {
    text-decoration: none;
    color: #000;
    margin-left: 5px;
}

.hamburger-menu {
    position: fixed;
    top: 40px;
    left:50px;
    cursor: pointer;
}

.close-menu {
    text-align: right;
    padding: 10px;
    cursor: pointer;
}
.side{
    margin-left: 60px;
   
    margin-top:15px;
    border-radius:50%;
    position:absolute;
    border:3px solid black;
}
.length{
    margin-top:45px;
}
.length1{
    margin-top:7px;
}
.text{
    font-size:10px;
    color:white;
    text-decoration: none;
}